body {
  background-color: azure;
  font-family: cursive;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

#leader-text {
  margin: 50px 0;
  font-size: 50px;
  text-align: center;
}

.all-cont {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.score {
  width: 450px;
}

.score-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
}

#recent-text,
#add-text {
  font-size: 40px;
}

#refresh-btn {
  width: 25%;
  height: 3vh;
  margin-top: 5px;
  border: 1px solid rgb(149, 98, 31);
  background-color: burlywood;
  box-shadow: 5px 5px 5px rgb(137, 109, 72);
  font-weight: 600;
  font-size: 16px;
}

#refresh-btn:hover {
  cursor: pointer;
  border: 1px solid burlywood;
}

.table-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30%;
  border: 2px solid black;
}

#table {
  border: 3px solid black;
  width: 100%;
}

.add form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .input {
  margin-top: 30px;
  width: 80%;
  height: 20px;
  padding: 5px;
}

form .input::placeholder {
  color: black;
}

form #submit-btn {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 22px;
  width: 20%;
  padding: 1px;
  background-color: rgb(98, 228, 98);
  border: 1px solid rgb(60, 164, 60);
  box-shadow: 5px 5px 5px green;
  font-weight: 600;
}

form #submit-btn:hover {
  cursor: pointer;
  border: 1px solid rgb(128, 213, 128);
}
